.button{
     margin-top: 20px;
     margin-bottom: 100px;
     padding: 16px;
     color:white;
     background-color: crimson;
     font-size: 15px;
     border: none;
     border-radius: 2px;
     cursor: pointer;
     text-transform: uppercase;
}
.button:hover{
    opacity: 0.9;
}